Body{
background-image:linear-gradient(rgba(0,0,0,0,0.6),rgba(0,0,0,0,0.6)),url(art.jpg);
height: 100hv;
background-size: cover;
background-position: center;
}
.login-page{
width:360px;
padding: 10% 0 0;
margin: auto;
}
.form{
position: relative;
z-index:1;
background: #ffffff;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
}
.form input{

}
